In [13]:
import pandas as pd
import os

In [14]:
DATA_PATH = 'names/'

In [15]:
# 1) С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен.

def top3(years):
    all_names = []
    cols = ['Name','Gender','Count']

    for year in years:
        names = pd.read_csv(DATA_PATH + 'yob' + str(year) +'.txt', names=cols)
        all_names.append(names)
        
    all_years_names = pd.concat(all_names, names=['Year', 'Pos'])    
    all_years_names_unique = all_years_names.groupby('Name').sum()
    top3_names = all_years_names_unique.sort_values(by='Count', ascending=False).head(3)
    
    print(top3_names)

In [16]:
top3([1880])

         Count
Name
John      9701
William   9562
Mary      7092

In [17]:
top3([1900, 1950, 2000])

         Count
Name
James   111798
John    109593
Robert  101373

In [18]:
# 2) С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов.

def count_dynamics(years):
    all_names_female = []
    all_names_male = []
    cols = ['Name','Gender','Count']

    for year in years:
        names = pd.read_csv(DATA_PATH + 'yob' + str(year) +'.txt', names=cols)
        
        all_names_female.append(names[names.Gender == 'F'].Count.sum())
        all_names_male.append(names[names.Gender == 'M'].Count.sum())

    print("'F:' {} and 'M:' {} ".format(all_names_female, all_names_male))

In [19]:
count_dynamics([1900, 1950, 2000])

'F:' [299800, 1713151, 1815110] and 'M:' [150483, 1790549, 1962969]